
<div class="row custom-info">
  <div class="col-xs-4 custom-info-label">
    <div class="row">
      Email
    </div>
  </div>
  <div class="col-xs-8"><%= @profile.email %></div>
</div>

<div class="row custom-info">
  <div class="col-xs-4 custom-info-label">
    <div class="row">
      Telephone
    </div>
  </div>
  <div class="col-xs-8"><%= @profile.phone_number %></div>
</div>
</div><!-- left panel -->
