
<div class="row custom-info">
  <div class="col-xs-4 custom-info-label">
    <div class="row">
      Education
    </div>
  </div>
  <div class="col-xs-8">
    <%= @profile.education %>
  </div>
</div>

<div class="row custom-info">
  <div class="col-xs-4 custom-info-label">
    <div class="row">
      Hometown
    </div>
  </div>
  <div class="col-xs-8">
    <%= @profile.home_town %>
  </div>
</div>

<div class="row custom-info">
  <div class="col-xs-4 custom-info-label">
    <div class="row">
      Currently Lives
    </div>
  </div>
  <div class="col-xs-8">
    <%= @profile.current_town %>
  </div>
</div>


