
<%= render partial: 'users/shared/cover' %>

<section class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>About</h2>
    </div>
    <div class="panel-body">

      <!-- LEFT PANEL (INFO) -->
      <div class="col-sm-4 col-sm-offset-1">
        <h3>Basic Information</h3>
        <%= render 'basic_information' %>
        <h3>Contact Information</h3>
        <%= render 'contact_information' %>

      <!-- RIGHT PANEL (WORDS/ABOUT ME) -->
      <div class="col-sm-5 col-sm-offset-1">
        <%= render 'about_me' %>
      </div>
    </div><!-- panel body -->
  </div><!-- panel -->

</section><!-- about section -->


