
<%= render partial: 'users/shared/cover' %>

<section class="row">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h2>About</h2>
    </div>

    <div class="panel-body">

        <div class="col-sm-4 col-sm-offset-1">
          <h3>Places</h3>
          <%= render 'places' %>
          <h3>Contact Information</h3>
          <%= render 'contact_information' %>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <%= render 'about_me' %>
        </div>

    </div>

  </div>
</section>


