
Aloha <strong><%= @user.first_name %></strong>,

<p>We're glad you could make it. <%= link_to "Social Connecton", root_url %> is a great place to
stay in touch with your friends and family. You can also reach out and make new connections - it's a greaty community.</p>

