
<%= render partial: "users/shared/cover" %>

<section class="row">

  <div class="col-sm-5">
    <%= render "newsfeed_friends_panel" %>
  </div>

  <div class="col-sm-7">
    <%= post_form(params[:user_id].to_i) %>
    <div class=" post-container">
      <%= render "posts/post_history", posts: @newsfeed.posts %>
    </div>
  </div>

</section>
