
<article class="panel panel-default">
  <div class="panel-heading">
    <h4>About</h4>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <p><span class="custom-info-label">Went to school at:</span> <%= @user.education %></p>
      <p><span class="custom-info-label">Hometown:</span> <%= @user.home_town %></p>
      <p><span class="custom-info-label">Currently Lives:</span><%= @user.current_town %></p>
    </div>
  </div>
</article>
