
<div class="row v-offset">
  <div class="col-sm-8 col-sm-offset-2">
    <%= link_to "Sign Out", signout_path,
      class: "btn btn-primary btn-lg btn-block",
      method: :delete %>
  </div>
</div>
