
<%= render partial: 'users/shared/cover' %>

<section class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-heading clearfix">
        <h2>Photos
          <%= add_photo_link(params[:user_id].to_i) %>
        </h2>
      </div>

      <div class="panel-body">
        <div class="col-sm-12">
          <% @user.photos.each_slice(4) do |photos| %>
            <%= render 'photos/photos_row', photos: photos %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>

