
<div class="panel-footer">
  <%= render "shared/likes", likable: post %>
  <%= post_delete(post) %>
  <%= render "comments/comment_form", commentable: post %>
  <%= render "shared/comments", commentable: post %>
</div>
