
@import "bootstrap-sprockets";
@import "bootstrap";

/*
  * variables
  * positioning
  * decoration
  * modules
    * comments
    * cover
    * flash
    * forms
    * lists
    * nav
    * panels
  * media queries
*/

/*
  VARIABLES
*/
$primary-blue: #2b78e4;
$primary-white: #fff;
$bs-grey: #e7e7e7;

/*
  POSITIONING
*/
main {
  margin-top: 75px;
}

.v-offset {
  margin-top: 75px;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.full-width {
  width: 100%;
}

.space-below {
  margin-bottom: 75px;
}

/*
  DECORATION
*/
.underscore {
  border-bottom: 2px solid rgba(128, 128, 128, .5);
}

/*
  MODULES
*/

/* comments */
.comment-box {
  margin: 15px 0 10px 0;
}

.comment-photo {
  > img {
    margin-top: 5px;
  }
}

/* cover */
.cover {
  background-size: cover;
  height: 300px;
}

.cover-inner {
  position: relative;
  left: 20px;
  top: 120px;
  z-index: 1;
}

.cover-name {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .85);
  position: relative;
  left: 20px;
  top: 100px;
}

/* flash */
#flash-container {
  position: fixed;
  width: 95%;
  max-width: 1140px;
  top: 75px;
  z-index: 100;
}

/* forms */
.row-form {
  > .row {
    margin-bottom: 5px;
  }
}

#btn-profile {
  margin: 30px auto 0 auto;
  width: 85%;
}

/* lists */
.list-simple {
  list-style: none;
  font-size: 1.25em;
}

.list-right {
  padding: 20px 40px 0 0;
  > li {
    margin: 0 0 20px 0;
    text-align: right;
  }
}

.list-label {
  font-weight: bold;
}

.row-list {
  padding-left: 15px;
}

/* nav */
.navbar-fixed-top {
  background-color: $primary-blue;
  a {
    color: $primary-white;
  }
}

.icon-bar {
  background-color: white;
}

.navbar-brand {
  color: $primary-white;
}

.nav-label {
  color: $primary-white;
}

.navbar-center {
  display: inline;
  margin-left: 10%;
}

.navbar-off-right {
  margin-left: 25%;
}

#navbar-search {
  width: 40%;
}

/* panels */
.panel-heading {
  text-align: center;
}


/* media queries */
@media (max-width: 766px) {
  #navbar-search {
    width: 70%;

    input[type="text"] {
      width: 70%;
      margin-left: -5%;
    }
  }
}
